body {
  background: linear-gradient(to right, #2193b0, #6dd5ed);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #2193b0;
  font-size: 15px;
  line-height: 1.6em;
}

h1 {
  color: #2193b0;
  text-align: center;

}

h2 {
  text-align: center;
}

h3 {
  text-align: center;

}

p {
  text-align: justify;
}

.img-circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 3px solid #cccccc;
}

.image-film {
  width: 200px;
  height: 275px;
}

.card {
  text-align: center;
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 150px 0px rgba(0, 0, 0, 0.2);
}

.card1 {
  text-align: center;
  background: linear-gradient(to right, #283c8f, white , #dd474b);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 150px 0px rgba(0, 0, 0, 0.2);
}

.card1 p {
  color: white;
}

.card2 p {
  background: white;
  color: #283c8f;
}

.movie-card {
  text-align: center;
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.container {
  width: 60%;
  margin: 30px auto;
}

.list-inline {
  display: inline-block;
  padding: 20px;
  text-align: center;
}

.list {
  font-size: 40px;
  text-align: center;
  -webkit-padding-start: 0px;
}

.list_side ul {
  margin-top: 40px;
  font-size: 40px;
  text-align: center;
  padding: 0px;
}

.list_side li {
  text-align: center;
  padding: 20px;
  list-style: none;
}

a {
  text-decoration: none;
  color: #2193b0;
}

a:hover {
  color: #dd474b;
}

a:visited {
  text-decoration: none;
}

#sidebar {
  display: inline-block;
  background-color: white;
  position: fixed;
  width: 20%;
  left: 0;
  top: 0;
  bottom: 0;
}

#page-content {
  display: inline-block;
  width: 80%;
  margin-left: 20%
}

